<!DOCTYPE html>
<html>
    <head>
        <title>풀씨 웹 세미나</title>
        <!-- linking style sheet -->
        <link rel="stylesheet" href="/css/index.css">

        <!-- internal style sheet -->
        <style>
            .input.wow {
                width: 100%;
            }
            .margin.topbottom {
                margin-top: 20px;
                margin-bottom: 10px;
            }
            .margin.leftright {
                display: inline-block;
                margin-left: 20px;
                margin-right: 10px;
            }
        </style>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <h1 id="unique_header">풀씨 웹 세미나에 오신 것을 환영합니다!</h1>
        <p>express.js로 만든 서버</p>
        <!-- inline style sheet -->
        <div class="parent" style="font-size: 20px;">
            <div class="child">
                나는 div
            </div>
        </div>
        <input class="input wow" type="text" />
        <input class="input wow" type="checkbox" name="myinput" />
        <input class="input wow" type="checkbox" name="myinput" />
        <ul class="pretty ul" id="unique_list">
            <li class="pretty li">나는 li1</li>
            <li class="pretty li">나는 li2</li>
            <li class="pretty li">나는 li3</li>
        </ul>
        <div class="margin topbottom">
            나는 첫 번째 div
        </div>
        <div class="margin topbottom">
            나는 두 번째 div
        </div>
        <div class="margin leftright">
            나는 세 번째 div
        </div>
        <div class="margin leftright">
            나는 네 번째 div
        </div>
    </body>
</html>
